<app-header></app-header>

<div class="container-fluid imagen">
    <img src="../../../assets/images/informacion.jpg" class="img-fluid img animate__animated animate__backInLeft" alt="">
</div>
<div class="container">
    <div class="row pt-4 pb-4">
        <div class="col-md-6 prueba">
            <div>
                <h3>Horario de atención</h3>
                <p>Lunes a Domingo: 11am - 11pm.</p>
                <p>Festivos: 11am - 10pm.</p>
            </div>
            <div>
                <h3>Protocolos de bioseguridad</h3>
                <ul>
                    <li>Lavado de manos.</li>
                    <li>Desinfección con alcohol.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 prueba">
            <div>
                <h3>Formas de retirar su pedido</h3>
                <ul>
                    <li>En el restaurante.</li>
                    <li>Domicilio.</li>
                    <li>Take away.</li>
                </ul>
            </div>
            <div>
                <h3>Ubicación </h3>
                <p>Carrera 9 #82-15. Bogotá, Colombia</p>
            </div>
        </div>
    </div>
</div>
<hr>
<app-footer></app-footer>
