
   <app-header></app-header>
   <section>
    <img src="../../../assets/images/section-carrito.png" alt="" width="1349" height="240">
  </section>
  <div class="container">
      <div class="row">

        <div class="container pt-5">
            <table class="table align-middle">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Comida</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of carrito.datacarrito; let i = index">
                  <th scope="row">1</th>
                  <td>{{item.name}}</td>
                  <td>{{item.price}}</td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm px-3" (click)="eliminaritem(i)">
                      <i class="fas fa-times"></i>
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

      </div>
      <div class="row">
          Total: {{carrito.total | currency}} COP
      </div>
  </div>
<!-- seccion del formulario de la targeta -->
<div class="container m-5 mx-auto">
  <div class="row main">
      <div class="col-lg-6 col-12  rcol">
          <h3 class="product text-center">ZONA DE PAGO</h3>
          <div class="image text-center"><img src="../../../assets/images/target-credit.png" width="500px" height="450px"></div>
          <p class="text-center">Nuestro restaurante da como prioridad la seguridad de nuestros clientes
            <br>por esto nos abstenemos de utilizar su informacion solo para su compra,
            <br> para mayor informacion visite nuetras,
            <br><a [routerLink]="['/policies-and-privacy']">politicas y privacidad</a>
          </p>
      </div>
      <div class="col-lg-6 col-12  scol">
          <div class="row r1">
              <h6 class="text-muted">Informacion de pago:</h6>

          </div>
          <div class="row r2">
              <h6>Digite la informacio requerida</h6>
          </div>
          <div class="row r3">
              <h3 class="payment">METODOS DE PAGO</h3>
          </div>
          <div class="row r4">
              <h6 class="payment-method">Seleccione el metodo de pago:</h6>
          </div>
          <div class="row r5">
              <div class="col-2"><img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /></div>
              <div class="col-2"><img src="https://img.icons8.com/color/48/000000/visa.png" /></div>
              <div class="col-2"><img src="https://img.icons8.com/color/48/000000/paypal.png" /></div>
          </div>
          <div class="row r6">
              <form class="personalDetails">
                  <div class="form-group"> <input type="text" class="form-control" placeholder="Nombre del titular de la tarjeta"> </div>
                  <div class="form-group"> <input type="text" class="form-control" placeholder="Numero de tarjeta"> </div>
                  <div class="form-group">
                      <div class="row">
                          <div class="col-4"> <input type="text" class="form-control" placeholder="MM/AA"> </div>
                          <div class="col-4 offset-2"> <input type="password" class="form-control" placeholder="CCV"> </div>
                          <div class="col-2 th"><i class="far fa-credit-card"></i> </div>
                      </div>
                  </div> <button type="submit" class="btn btn-primary mt-3">PAGAR</button>
              </form>
          </div>
      </div>
  </div>
</div>
