<header class="fondo">
    <nav class="navbar navbar-expand-lg navbar-light menu">
      <div class="container-fluid">
        <img src="../../../assets/images/logo-olimpo-png.png" width="60" height="50" alt="">
        <p class="color-raya">pp</p>
        <a class="navbar-brand text-white" [routerLink]="['/home']">El Olimpo</a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" [routerLink]="['/home']" >Menú</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="['/orders']" >Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="['/events']" >Eventos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="['/informacion']" >Información</a>
            </li>
          </ul>
          <div>
            <a class="nav-link" [routerLink]="['/carrito']"><i class="fas fa-shopping-cart icon-cart"></i></a>
          </div>
          <span class="navbar-text text-white">
            <i class="fas fa-sign-out-alt icon" [routerLink]="['/']"></i>
          </span>
        </div>
      </div>
    </nav>
  </header>

  <!-- <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand m-0 ms-2 p-0">ULTIMATE GAME</a>

      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarRightAlignExample" aria-controls="navbarRightAlignExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse me-2" id="navbarRightAlignExample">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a id="beginning" class="nav-link active" aria-current="page" href="#clasicos">
              <i class="fas fa-gamepad ">&nbsp;</i> Inicio
            </a>
          </li>
          <li class="nav-item">
            <a id="shooter" class="nav-link" href="#shooter">
              <i class="fas fa-fighter-jet">&nbsp;</i>  Shooter
            </a>
          </li>
          <li class="nav-item">
            <a id="aventure" class="nav-link" href="#aventura">
              <i class="fas fa-map-marked-alt">&nbsp;</i>  Aventura
            </a>
          </li>
          <li class="nav-item">
            <a id="super-game" class="nav-link" href="#super-game">
              <i class="fas fa-trophy">&nbsp;</i>  Super Game
            </a>
          </li>
          <li class="nav-item">
            <a id="about-us" class="nav-link" href="#sobre-nosotros">
              <i class="fas fa-star">&nbsp;</i>  Sobre Nosotros
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->


