.filtros-letra {
  color: brown;
  font-weight: bold;
  font-weight: bold;
}

.filtros-letra:hover {
  opacity: 0.8;
}

.card {
  height: 480px;
  width: 280px;
  border: solid 1px rgb(182, 182, 182);
  box-shadow: 3px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.card-body{
 color: rgb(4, 4, 4);
}

.card-img-top{
  width: 20rem;
  height: 20rem;
}

.section-target {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: -10px;
    background: rgb(252, 251, 252);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: rgba(12, 12, 12, 0.611) ;
}

a {
  cursor: pointer;
}


.text-filter{
  border: solid 1px rgb(124, 123, 123);
  border-radius: 16px;
}

.section-nav-two {
  font-size: 22px;
}
