<div class="container">
  <div class="row">

    <div class="container pt-5">
        <table class="table align-middle">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Comida</th>
              <th scope="col">Precio</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart.dataShopping; let i = index">
              <th scope="row">1</th>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm px-3" (click)="eliminaritem(i)">
                  <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

  </div>
  <div class="row">
     <strong class="total">Total: {{cart.total | currency}} COP</strong>
  </div>
</div>
