<!--Section: Content-->
  <section class="text-center mapa">
    <h2>Ubicación</h2>
    <div class="pb-5">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.6032977146174!2d-74.0532805859099!3d4.664606043269953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a604997e3dd%3A0x2367a38e840bc03e!2zQ3JhLiA5ICM4MjE1LCBCb2dvdMOh!5e0!3m2!1ses!2sco!4v1638226152206!5m2!1ses!2sco"
        width="750"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy">
      </iframe>
    </div>
  </section>

<footer class="bg-dark text-white">
  <div class="container">
    <div class="row d-flex justify-content-center importante">
      <h3 class="text-white titulo-importante text-center">IMPORTANTE</h3>
      <p class="text-center">Mediante el Decreto 1408 del 3 de Nov. 2021 emitido por el gobierno nacional,<br />
         a partir del martes 16 de noviembre de 2021, se exigirá  <br />el carnet de vacunación
         o certificado digital contra el COVID-19 para ingresar <br /> presencialmente a eventos
         y consumo en restaurantes.</p>
  </div>
  </div>
<hr>
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <div class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
  <!-- Copyright -->
  <div class="copy p-3">
    © 2020 Copyright: <a class="text-white" href="#">Restaurante Olimpo</a>
  </div>
</footer>
