body {
  margin: 0;
}

.nav-item {
  padding: 0;
  margin: 0 5px;
}

.nav-item:hover {
  padding: 0;
  color: #8f5657;
  transform: scale(1.2, 1.2);
  background-color: transparent;
}

.navbar{
    background-color: #0e0e0e72;
            }
          /* Carousel styling */
          #introCarousel,
          .carousel-inner,
          .carousel-item,
          .carousel-item.active {
            height: 100vh;
          }

          .carousel-item:nth-child(1) {
            background-image: url('../../../assets/images/img1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
          }

          .carousel-item:nth-child(2) {
            background-image: url('../../../assets/images/img2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
          }

          .carousel-item:nth-child(3) {
            background-image: url('../../../assets/images/img3.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
          }

          /* Height for devices larger than 576px */
          @media (min-width: 992px) {
            #introCarousel {
              margin-top: -58.59px;
            }
          }

.nav-title{
  border-radius: 3px;
}

.titulo{
  font-size: 3rem;
  text-shadow: 3px 2px 1px #000000;
}

.eslogan{
font-size: 2.2rem;
letter-spacing: 0.4px;
}

h4 strong{
    justify-content: center;
    display: flex;
}
.texto{
  font-size: 1.1rem;
}

.informacion{
  border: solid 1px rgb(114, 113, 113);
  border-radius: 6px;
  text-align: justify;
  box-shadow: 2px 2px 3px 3px rgb(122, 122, 122);
}

header .bg-image {
  height: 100vh;
  background-size: cover;
}

.bg-image-0 {
  background-image: url("../../../assets/images/restaurante-parallax.jpg");
}

.parallax {
  height: 80vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

.text-parallax{
  font-size: 2.3rem;
  text-shadow: 3px 3px 2px #3a0d0d;
  font-style: italic;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.mapa{
  border: solid 2px rgb(128, 127, 127);
  margin: 10rem;
  box-shadow: 3px 3px 4px 4px rgb(122, 122, 122);
}
.mapa:hover{
  /* background-color: rgb(241, 234, 169); */
  background-color: rgb(212, 202, 202);
}

@media only screen and (max-width:1150px){
  iframe{
    height: 40rem;
    width: 38rem;
  }
  .mapa{
    margin: 9.5rem;
  }
}

@media only screen and (max-width:1050px){
  iframe{
    height: 37rem;
    width: 35rem;
  }
  .mapa{
    margin: 8.5rem;
  }
}

@media only screen and (max-width:950px){
  iframe{
    height: 37rem;
    width: 35rem;
  }
  .mapa{
    margin: 7.5rem;
  }
}

@media only screen and (max-width:950px){
  iframe{
    height: 37rem;
    width: 35rem;
  }
  .mapa{
    margin: 4.5rem;
  }
}

@media only screen and (max-width:850px){
  iframe{
    height: 37rem;
    width: 35rem;
  }
  .mapa{
    margin: 1.5rem;
  }
}

@media only screen and (max-width:750px){
  iframe{
    height: 37rem;
    width: 35rem;
  }
  .mapa{
    margin: 1rem;
  }
}

@media only screen and (max-width:650px){
  iframe{
    height: 31rem;
    width: 29rem;
  }
  .mapa{
    margin: 0.6rem;
  }
}

@media only screen and (max-width:550px){
  iframe{
    height: 27rem;
    width: 25rem;
  }
  .mapa{
    margin: 0.4rem;
  }
}

@media only screen and (max-width:450px){
  iframe{
    height: 23rem;
    width: 21rem;
  }
  .mapa{
    margin: 0.2rem;
  }
}

@media only screen and (max-width:370px){
iframe{
  height: 21rem;
  width: 18rem;
  }
.mapa{
  margin: 0rem;
}
}

@media only screen and (max-width:340px){
  .mapa{
    margin: 0rem;
  }
}

@media only screen and (max-width:300px){
  iframe{
    height: 18rem;
    width: 15rem;
    }

  .mapa{
    margin: 0rem;
  }
}

@media only screen and (max-width:340px){
  .mapa{
    margin: 0rem;
  }
  }
  @media only screen and (max-width:300px){
    iframe{
      height: 18rem;
      width: 15rem;
      }

    .mapa{
      margin: 0rem;
    }
    }


