<!-- CARRUSEL -->
<header>
  <nav
    class="navbar navbar-expand-lg navbar-light waves-light"
    style="z-index: 2000"
  >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarRightAlignExample"
        aria-controls="navbarRightAlignExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarRightAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white nav-title" [routerLink]="['/signIn']">
              Iniciar sesión
            </a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item">
            <a class="nav-link text-white nav-title" [routerLink]="['/signUp']">
              Registrarse
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    id="introCarousel"
    class="carousel slide carousel-fade shadow-2-strong"
    data-mdb-ride="carousel"
  >
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li
        data-mdb-target="#introCarousel"
        data-mdb-slide-to="0"
        class="active"
      ></li>
      <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
      <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
    </ol>

    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="mask" style="background-color: rgba(2, 2, 2, 0.6)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h1 class="mb-3">El Olimpo</h1>
              <h5 class="mb-4">
                ¡El placer de comer como los dioses!
              </h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <div class="mask" style="background-color: rgba(14, 14, 14, 0.398)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h2 style="background-color: rgba(15, 15, 15, 0.3)">
                Un oasis de sabores que podrás disfrutar y degustar..
              </h2>
            </div>
          </div>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <div
          class="mask"
          style="
            background: linear-gradient(
              60deg,
              rgba(5, 5, 5, 0.309),
              rgba(14, 14, 14, 0.248) 100%
            );
          "
        >
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <h2 style="background-color: rgba(65, 41, 16, 0.3)">
                Encontrarás la diferencia en nuestros gustos y tradiciones..
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <a
      class="carousel-control-prev"
      href="#introCarousel"
      role="button"
      data-mdb-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#introCarousel"
      role="button"
      data-mdb-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Carousel wrapper -->
</header>

<!--Main layout-->
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div
            class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
            data-mdb-ripple-color="light"
          >
            <img
              src="../../../assets/images/about-us.jpg.crdownload"
              class="img-fluid animate__animated animate__fadeInLeft animate__slow	2s"
              width="500"
              height="400"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4 pt-5 informacion">
          <h4 class="pb-3"><strong>Nuestra empresa</strong></h4>
          <p class="texto">Nuestra empresa, con más de 14 años de trayectoria, nos
            ha dado la sabiduría para valorar la importancia del cliente, quien es
            el motivo de nuestros esfuerzos, para así llegar a ellos con la seguridad
            de poder ofrecerles nuestros productos de excelente calidad. Más que una
            empresa, nos consideramos una familia.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pt-5 informacion">
          <h4><strong class="pb-3">Nuestros Servicios</strong></h4>
          <p class="texto">
            Ofrecemos servicios tipo buffet y servidos a la carta, con personal calificado
            para que el cliente se sienta satisfecho, y un gran ambiente para poder estar
            totalmente a gusto. Manejamos una amplia variedad de platillos, tanto nacionales
            como internacionales, elaborados por los más reconocidos chefs del país.
          </p>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <div
            class="bg-image hover-overlay ripple shadow-2-strong rounded-5"
            data-mdb-ripple-color="light"
          >
            <img
              src="../../../assets/images/bebidas-landing.jpg"
              alt=""
              class="img-fluid pt-3 animate__animated animate__slideInRight animate__slow	2s"
            />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->
    <hr class="my-5" />
  </div>
  <div class="container-fluid parallax bg-image bg-image-0">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100 text-parallax">
        <p class="text-white mb-0 animate__animated animate__backInUp animate__slow	2s">Más allá del límite del buen gusto..</p>
      </div>
    </div>
  </div>
  <hr class="my-5" />
  <app-footer></app-footer>
</main>
